# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
.env
.venv
env/
venv/

# Hugging Face cache
# Các model được tải từ Hub, không cần lưu trữ trong git
.cache/
huggingface/